<!-- <p>origin-list works!</p> -->
<style>
.navbar
 {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;;
}

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
   .card-container {
    /* display: flex;  */
     flex-wrap: wrap; 
    justify-content:right;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #201e75;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
</style>
<div class="navbar" role="banner">
    <ul>
        <li><a href="#home">Home</a></li>
        <li style="float:right"><a class="active" href="#about">About</a></li>
      </ul>
  
</div>
<div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <span>Africans</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <span>Chinese</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <span>Indians</span>
    </a>
    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
        <span>Middle Eastern</span>
      </a>
    
  </div>