<div id="section3">
  <section id="blog-area">
    <div class="container">
      <div class="row text-center inner">
        <div class="col-sm-6">
          <div class="blog-content">
            <img src="assets/img/multicultural.jpg" alt="Image">
            <h2>About CSG app</h2>
            <p>
              Cultural Stores Guiders app is for helping people to find their cultural stores.
            </p>
            <br>
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  </div>
