
<div id="section4">
    <section id="afstore-area">
        <div class="container">
            <div class="row text-center inner">
                <div class="col-sm-4">
                    <div class="afstore-content">
                        <img src="assets/img/afro2.jpg" alt="Image">
                        <h2>Afro-Caribean food Market</h2>
                        <p>
                            Address: 11134 Blue Ridge Blvd, Kansas City</p>
                            <p>State: MO</p>
                            <p>Zip: 64134</p>
                            <p>Number: (816) 572-3746</p>
                            <p>Website: business.site</p>
                            <p>.</p>
                            <a href="https://cutt.ly/QyWG4IJ" class="feature-content-link blue-btn">Click here for Google Map Location</a>
                            <p></p>
                        <br>
                    </div>
                </div>


                <div class="col-sm-4">
                    <div class="afstore-content">
                        <img src="assets/img/afri.jpg" alt="Image">
                        <h2>African International Market LLC</h2>
                        <p>
                            Address: 3618 US-24, Kansas City</p>
                            <p>State: MO</p>
                            <p>Zip: 64124</p>
                            <p>Number: N/A</p>
                            <p>Website: N/A</p>
                            <br>
                            <a href="https://cutt.ly/ZyWG3D6" class="feature-content-link blue-btn">Click here for Google Map Location</a>
                            <p>.</p>


                        <br>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>

